.gjs select {
  font-size: 13px;
  line-height: 1;
  background: none;
  text-shadow: none;
}

.gjs select:focus,
.gjs select:hover {
  color: inherit;
  background: none;
  box-shadow: none;
}

.gjs-alert-error {
  padding: .5rem 1rem;
  font-weight: bold;
  color: #b71d1d;
  background-color: #d27878;
}
